/* PixelTransition.css */
.pixelated-image-card {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

.pixelated-image-card__default,
.pixelated-image-card__active {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.pixelated-image-card__active {
  display: none;
  z-index: 10;
}

.pixelated-image-card__pixels {
  position: absolute;
  inset: 0;
  z-index: 20;
  pointer-events: none;
}

.pixelated-image-card__pixel {
  position: absolute;
  display: none;
}
